
.header-container{
    height: 4em;
    display: flex;
    justify-content: space-between;
    background:linear-gradient(#3db1ff, #3be2ab);
    padding: 0 1em;
    align-items: center;
}
.header-right{
    display: flex;
    gap: 1em;
    align-items: center;
}
.header-container a{
    text-decoration: none;
    color: black;
}
.header-right button {
    background:black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.header-right button:hover {
    background: white;
    color: black;
}
/* panier css */

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin:auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.panier-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.delete:hover {
    background-color: #c0392b;
}
.section{
    display: flex;
    justify-content: space-between;
}
.section input{
    width: 4em;
}
.total {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
    border-top: 1px solid #ddd;
}

@media (max-width: 600px) {
    .panier-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-name,
    .item-prix,
    .item-quantity,
    .delete {
        flex: none;
        margin-bottom: 10px;
    }

    .item-quantity {
        width: 100%;
    }

    .delete {
        align-self: flex-end;
    }
}
